<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.springsource.sts.ide.configurator.participant">
      <installableItem
            configurator="com.springsource.sts.ide.configurator.ServerConfigurator"
            id="pivotal-tc-server-developer-4.0.4.RELEASE">
         <copy
               source="content">
         </copy>

         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/catalina.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/ciphers.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/configtest.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/daemon.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/digest.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/makebase.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/setclasspath.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/shutdown.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/startup.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/tool-wrapper.sh"
               mode="755">
         </chmod>
         <chmod
               file="runtimes/tomcat-9.0.13.B.RELEASE/bin/version.sh"
               mode="755">
         </chmod>

         <chmod
               file="developer-4.0.4.RELEASE/tcserver"
               mode="755">
         </chmod>

      </installableItem>
   </extension>
</plugin>
