<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.springsource.sts.ide.configurator.participant">
      <installableItem
            configurator="com.springsource.sts.ide.configurator.ServerConfigurator"
            id="vfabric-tc-server-developer-${version}">
         <copy
               source="content">
         </copy>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/catalina.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/digest.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/setclasspath.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/shutdown.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/startup.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/tool-wrapper.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-6.0.37.A.RELEASE/bin/version.sh"
               mode="755">
         </chmod>

         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/catalina.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/digest.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/setclasspath.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/shutdown.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/startup.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/tool-wrapper.sh"
               mode="755">
         </chmod>
         <chmod
               file="tomcat-7.0.39.B.RELEASE/bin/version.sh"
               mode="755">
         </chmod>

         <chmod
               file="tcruntime-ctl.sh"
               mode="755">
         </chmod>
         <chmod
               file="tcruntime-instance.sh"
               mode="755">
         </chmod>

      </installableItem>
   </extension>
</plugin>
